---
import Layout from '../layouts/Layout.astro';
import Posts from '../components/Posts.astro';
---

<Layout title="Welcome to Huhuu News!">
	<main>
		<h1>Huhuu!</h1>
		<Posts />
	</main>
</Layout>

<style>
	
</style>
