<footer class="grid w-full grid-flow-row place-items-center h-full bg-slate-200 shadow md:px-6 md:py-8 dark:bg-slate-800 ">
    <div class="sm:flex sm:items-center sm:justify-between">
        <div class="text-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400 grid">
                <div class="place-items-center text-center mx-auto">
                    <p class="py-1">Contact</p>
                    <hr class="fill-white py-1" />
                    <ul class="list-none">
                        <li><a href="#" class="hover:underline">mestarit@ksyk.fi</a></li>
                        <li><a href="#" class="hover:underline">toimitus@huhuu.news</a></li>
                    </ul>
                </div>
        </div>
    </div>
</footer>