<footer class="items-center p-4 bg-slate-200 shadow md:px-6 md:py-8 dark:bg-slate-800 w-full absolute bottom-0 h-32">
    <div class="sm:flex sm:items-center sm:justify-between">
        <div class="text-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
                <p class="absolute m-auto left-0 right-0">Contact</p>
                <hr class="fill-white absolute w-60 m-auto left-0 right-0 bottom-[4.25rem]" />
                <ul class="list-none absolute m-auto left-0 right-0 bottom-5">
                    <li><a href="#" class="hover:underline">mestarit@ksyk.fi</a></li>
                    <li><a href="#" class="hover:underline">toimitus@huhuu.news</a></li>
                </ul>
        </div>
    </div>
</footer>