---
---

<nav class="flex mx-4 p-4 text-xl w-max">
    <a href="https://huhuu.news/" class="flex justify-start mb-4 sm:mb-0 mr-10 text-2xl">
        <img src="images/huhuulogotarra.webp" class="h-8 mr-3" alt="Huhuu Logo" />
    </a>
    <div class="absolute flex right-6">
        <a href="/" class="mr-7">Home</a>
        <a href="/news/">News</a>
    </div>
</nav>