---
export interface Props {
	title: string;
	date: string;
}

const { frontmatter } = Astro.props;
---
	
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	h1 {
		color: pink;
	}
	p {
		color:tomato;
	}
</style>
